@import "tailwindcss";

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

#root {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

@layer base {


    textarea {
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        box-sizing: border-box;
        border: 1px solid #ccc;
    }

    button {
        display: block;
        padding: 8px 16px;
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 16px;
    }


    button:hover {
        background-color: #45a049;
    }

    button:disabled {
        background-color: #d3d3d3;
    }

    .w-17 {
        width: calc(var(--spacing) * 17);
    }

    .pr-29 {
        padding-right: calc(var(--spacing) * 29);
    }
}
