body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

form {
    position: relative;
    width: 100%;
}

input {
    display: block;
    width: 100%;
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    box-sizing: border-box;
}

button {
    margin-top: 10px;
    display: block;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 16px;
}

button:hover {
    background-color: #45a049;
}

button:disabled {
    background-color: #d3d3d3;
}

#audioContainer {
    margin-top: 20px;
}